################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XML_Extractor/Debug
/XML_Extractor/Release
/XML_Extractor/x64
