################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XML_Extractor/Debug
/XML_Extractor/Release
/XML_Extractor/x64
/DragonCommanderTranslateHelper/.vs/DragonCommanderTranslateHelper
/DragonCommanderTranslateHelper/x64/Debug
/DragonCommanderTranslateHelper/XML_Extractor/Debug
/DragonCommanderTranslateHelper/XML_Extractor/Release
/DragonCommanderTranslateHelper/XML_Extractor/x64
/DragonCommanderTranslateHelper/CSV2XML_Writer/x64/Debug
/DragonCommanderTranslateHelper/CSV2XML_Writer/Debug
